* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (max-width:812px){
	
	#NavBar {
		max-width: 100%;
		width: 800px;
		text-align: center;

	}

	#NavBar ul{
		max-width: 100%;
		width: 800px;
		margin: 5px, auto;
		padding:0;
		list-style-type: none;
	}

	#NavBar ul li {
		display : inline;
		max-width: 100%;
		padding: 5px;
	}

	#LogoSpace {
		max-width: 100%;
		width: 799px;
		margin-right: auto;
		margin-left: auto;
		}

	#wrapper {
		max-width: 100%;
		width: 799px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.tiles {
		display:block;
		max-width:100%;
		width: 799px;
		margin-top: 10px;
	}
	
	body {
		font-size: 12pt;
	}
	
	.homeImages {
		max-width:100%;
		width: 600px;
		padding: 1px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#real3DLogo {
		max-width: 100%;
		width: 600px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
}

@media only screen and (min-width:813px) {
	
	#LogoSpace {
		max-width: 100%;
		width: 800px;
		margin-right: auto;
		margin-left: auto;
	}

	#wrapper {
		max-width: 100%;
		width: 800px;
		margin-left:auto;
		margin-right:auto;
	}
	
		.tiles {
		display:inline-block;
		max-width:100%;
		width: 375px;
		float: left;
		margin-top: 20px;
		text-align: center;
	}
	
		body {
		font-size: 14pt;
	}
	
	.homeImages {
		display:inline-block;
		max-width: 100%;
		width: 375px;
		float:left;
		margin-left: 12.5px;
		margin-right: 15px;
	}
	
	.clear-after {
		clear: left;
	}
	
	.clear-before {
		clear:right;
	}
	
	.full {
		max-width:100%;
		width: 800px;
	}
	
	#dolbyAtmos {
		
		margin-top: 80px;
	
	}
	
	#dolbyVision {
		
		margin-top: 10px;	
	}
	
	#dolbyVisionBox {
		
		float:none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		
	}
	
	#firstClass{
		
		margin-top: 40px;
		
	}
	
	#normalSeats{
		
		margin-top: 40px;
		
	}
	
	#real3DLogo {
		
		margin-top: 110px;
		
	}
}

@media only screen and (max-width: 640px) {

	#NavBar {
		max-width: 100%;
		width: 640px;
		text-align: center;

	}

	#NavBar ul{
		margin: 15px, auto;
		padding:0;
		list-style-type: none;
	}

	#NavBar ul li {
		display : block;
		max-width: 100%;
		padding: 5px;
	}

	#LogoSpace {
		max-width: 100%;
		width: 640px;
		margin-right: auto;
		margin-left: auto;

	}
	
	#wrapper {
		max-width: 100%;
		width: 640px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.tiles {
		display:block;
		max-width:100%;
		width: 640px;
		margin-top: 5px;
	}
	
	body {
		font-size: 10pt;
	}
	
	.homeImages {
		max-width:100%;
		width:  480px;
		padding: 1px;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
	}
	
	#real3DLogo {
		max-width: 100%;
		width: 480px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}