* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: radial-gradient(#3A4747, #000000);
	font-size: 14pt;
	font-style: normal;
	font-family: "Arial";
	color: white;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: "Crimson Text";
	color: #00c8e5;
}

img {
	max-width:100%;
}

#NavBar ul{
	margin: 15px, auto;
	padding:0;
	list-style-type: none;
}

#NavBar ul li {
	display : inline;
	max-width: 800px;
	padding: 0px;
	margin: 0px;
	background-color: black;
	border: 1px solid #00c8e5;
}

#NavBar {
	border: 1px solid #00c8e5;
}

#topOfPage

#wrapper {
	width:100%;
}

.screeningTimes{
	list-style-type:none;
	margin-left:1px;
}

.screeningTime{
	display : inline;
}

#contactMessage {
	width: 600px;
	height: 250px;
}

.container {
	max-width: 100%;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.clear-after {
	clear: left;
}

.tiles {
	max-width: 100%;
	width:800px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #00c8e5;
	padding-left: 10px;
	padding-right: 10px;
}

.longText {
	margin-left: 300px;
}

.shortDescription {
	min-height:200px;
}

.longDescription {
	display: none;
	min-height: 400px;
	overflow: visible;
}

.smallPoster {
	max-width: 100%;
	float: left;
	max-height:198px;
	border: 1px solid #00c8e5;
}

.largePoster {
	max-width:100%;
	float: left;
	max-height: 398px;
	border: 1px solid #00c8e5;
}

#LogoSpace {
	max-width: 100%;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#topBar {
	position: fixed;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	background-color: black;
	text-align: center;
}